
@{
    ViewBag.Title = "靜態頁管理";
}
@*<script src="~/node_modules/tidy-html5/tidy.js"></script>*@

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        <i class="nav-icon fas fa-file-alt"></i>
                        @ViewBag.Title
                    </h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div id="v_app"></div>
</div>


<template id="StaticPageManagement">
    <div class="content">
        <div class="container-fluid">
            <div class="row m-3">
                <div class="col">
                    <div class="card card-default color-palette-box">
                        <div class="card-blue">
                            <div>
                                <b-tabs content-class="mt-3">
                                    <b-tab title="公司介紹" active>
                                        <company-profile :list-item="CompanyProfile"></company-profile>
                                    </b-tab>
                                    <b-tab title="技術開發">
                                        <technology-development :list-item="TechnologyDevelopment">
                                        </technology-development>
                                    </b-tab>
                                    <b-tab title="聯絡方式">
                                        <contact-method :list-item="ContactMethod">
                                        </contact-method>
                                    </b-tab>
                                    <b-tab title="隱私權政策">
                                        <privacy-policy :list-item="PrivacyPolicy">
                                        </privacy-policy>
                                    </b-tab>
                                </b-tabs>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="StaticPageItem">
    <div>
        <div class="row my-2">
            <div class="col-auto ml-4">
                內容：
            </div>
            <div class="col ml-2" v-if="editorOption">
                <vue-editor id="editor" 
                            :editor-options="editorOption" 
                            :editor-toolbar="customToolbar" 
                            editor-updated="handleUpdatedContent" 
                            v-model="PageContent"></vue-editor>
            </div>
        </div>

        <div class="row">
            <div class="col text-right m-3">
                <b-button variant="primary" size="sm" v-on:click="SubmitCompanyProfile">送出</b-button>
            </div>
        </div>

    </div>

</template>

<style>
    #editor {
        height: 300px;
    }

    #editor .ql-html-editor {
        position: absolute;
        background: #fffff0;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        border: 0;
        padding: 12px;
        box-sizing: border-box;
    }
</style>
@section Scripts {
    <script>
        requirejs.config({
            baseUrl: "@Url.Content("~/Scripts/build/view/StaticPage")"
        });
        require(["index"]);

    </script>

}