
@{
    ViewBag.Title = "案例介紹管理";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        <i class="nav-icon fas fa-folder-open"></i>
                        @ViewBag.Title
                    </h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div id="v_app"></div>

</div>

<template id="CaseManagement">
    <div class="content">
        <div class="container-fluid">
            <div class="card card-default color-palette-box">
                <div class="card-blue">
                    <div class="row m-3">
                        <div class="col">
                            <div class="info-box-content">
                                <div class="TotalText">
                                    總筆數：
                                    <span class="badge badge-primary">{{TotalCounts}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col text-right">
                            <a href="@Url.Action("Create","Case")" class="btn btn-primary">新增</a>
                        </div>
                    </div>

                    <div class="form-group row m-3">
                        <div class="col-auto">
                            <div class="col-form-label">建立日期：</div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="date" v-model="StartDateTime" class="form-control float-right" :min="MinDate" :max="EndDateTime" v-on:change="SetSearchDate">
                                <h4>
                                    ~
                                </h4>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="date" v-model="EndDateTime" class="form-control float-right" :max="MaxDate" :min="StartDateTime" v-on:change="SetSearchDate">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row m-3">
                        <div class="col-auto">
                            <div class="col-form-label">關鍵字：</div>
                        </div>
                        <div class="col-auto navbar-expand navbar-white navbar-light">
                            <div class="input-group">
                                <div class="pr-2">
                                    <b-form-select v-model="Selectd" :options="Options"></b-form-select>
                                </div>
                                <input class="form-control form-control-navbar" v-model="Query" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" v-on:click.prevert="SetSearchDate">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body table-responsive table-bordered">
                            <table class="table">
                                <thead class="table-bordered">
                                    <tr>
                                        <th class="text-nowrap">#</th>
                                        <th class="text-nowrap">圖片</th>
                                        <th class="text-nowrap">連結網址</th>
                                        <th class="text-nowrap">案例類別</th>
                                        <th class="text-nowrap">案例名稱</th>
                                        <th class="text-nowrap">案例敘述</th>
                                        <th class="text-nowrap">狀態</th>
                                        <th class="text-nowrap">建立日期/更新日期</th>
                                        <th class="text-nowrap">操作</th>
                                    </tr>
                                </thead>
                                <tbody v-for="(Item, index) in ListItem">
                                    <tr>
                                        <td>
                                            {{Item.Number}}
                                        </td>
                                        <td>
                                            <b-img :src="Item.ImageName" alt="Alternate Text" style="height:100px;cursor:pointer" v-on:click="showImg(index)" />
                                        </td>
                                        <td>
                                            {{Item.CaseUrl}}
                                        </td>
                                        <td>
                                            {{Item.CaseEnum | GetCaseEnum }}
                                        </td>
                                        <td class="text-nowrap">
                                            {{Item.CaseName}}
                                        </td>
                                        <td class="text-nowrap">
                                            <div v-html="Item.CaseContent"></div>
                                        </td>
                                        <td>
                                            <h4>
                                                <span class="badge badge-success" v-if="Item.Status">正常</span>
                                            </h4>
                                            <h4>
                                                <span class="badge badge-danger" v-if="!Item.Status">停用</span>
                                            </h4>
                                        </td>
                                        <td>
                                            {{Item.CreateTime | dateToDateTimeString}}
                                            <br />
                                            /
                                            <br />
                                            {{Item.UpdateTime | dateToDateTimeString}}

                                        </td>
                                        <td>
                                            <button class="btn-sm btn-primary" v-on:click="GetEditCase(Item.CaseId)">
                                                <i class="fas fa-pen"></i>
                                            </button>
                                            <button class="btn-sm btn-danger" v-on:click.prevent="DeleteCaseItem(Item.CaseId)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <b-pagination class="pagination pagination-sm m-0 float-right"
                                          v-model="CurrentPage"
                                          v-on:input="SetSendPagination"
                                          :total-rows="TotalCounts"
                                          :per-page="PerPage"></b-pagination>
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>
        <vue-easy-lightbox :visible="visible"
                           :imgs="imgs"
                           :index="index"
                           v-on:hide="handleHide">
        </vue-easy-lightbox>
    </div>
</template>

@section Scripts {
    <script>

    </script>
    <script>
        requirejs.config({
            baseUrl: "@Url.Content("~/Scripts/build/view/Case")"
        });
        require(["index"]);
    </script>

}
