@{
    ViewBag.Title = "前台首頁管理";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        @ViewBag.Title
                    </h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div id="v_app"></div>
</div>

<template id="FontHomeEditManagement">
    <div class="content">
        <div class="container-fluid">
            <div class="card card-default color-palette-box">
                <div class="card-blue">
                    <div style="border-top: 5px solid black;border-bottom: 1px solid">
                        <div class="col">
                            <div class="info-box-content">
                                <div class="h5 m-2">
                                    編輯
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3 justify-content-center">
                        <div v-if="!image">
                            <img :src="FontHomeImage" alt="Alternate Text" class="animated fadeInRightBig" />
                        </div>
                        <div v-if="image" class="animated fadeInRightBig">
                            <img :src="image" alt="Alternate Text" class="animated fadeInRightBig" />
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <h6>( 圖片 / 760*100 / JPG 格式 )</h6>
                    </div>

                    <form enctype="multipart/form-data">
                        <div class="row ml-5 mb-3">
                            <small class="h6 px-3 align-self-center">
                                圖片檔案：
                            </small>
                            <div class="col">
                                <b-form-file name="PhotoFile"
                                             v-model="PhotoFile"
                                             v-on:change="fileSelected"
                                             placeholder="上傳圖片"></b-form-file>
                            </div>
                        </div>

                        <div class="row ml-5 mb-3 d-none">
                            <small class="h6 px-3 align-self-center">
                                圖片Id：
                            </small>
                            <div class="col">
                                <b-form-input name="FontHomeId"
                                             v-model="FontHomeId"></b-form-input>
                            </div>
                        </div>


                        <div class="row ml-5 mb-3">
                            <small class="h6 px-3 align-self-center">
                                圖片名稱：
                            </small>

                            <div class="col">
                                <b-form-input type="text"
                                              name="ImageName"
                                              v-model="ImageName"></b-form-input>
                            </div>
                        </div>

                        <div class="row ml-5 mb-3">
                            <small class="h6 px-3 align-self-center">
                                連結網址：
                            </small>

                            <div class="col">
                                <b-form-input type="text"
                                              name="FontHomeUrl"
                                              v-model="FontHomeUrl"></b-form-input>
                            </div>
                        </div>

                        <div class="row ml-5 mb-3">
                            <small class="h6 px-3 align-self-center">
                                上線時間：
                            </small>
                            <div class="col-md-4">
                                <b-form-input type="datetime"
                                              name="StartDateTime"
                                              v-model="StartDateTime"></b-form-input>
                            </div>

                            <small class="h6 px-3 align-self-center">
                                下線時間：
                            </small>
                            <div class="col-md-4">
                                <b-form-input type="datetime"
                                              name="EndDateTime"
                                              v-model="EndDateTime"></b-form-input>
                            </div>
                        </div>

                        <div class="row ml-5 mb-3">
                            <small class="h6 px-3 align-self-center">
                                備　　註：
                            </small>
                            <div class="col">
                                <b-form-input type="text"
                                              name="Remark"
                                              v-model="Remark"></b-form-input>
                            </div>
                        </div>

                        <div class="row ml-5 mb-3">
                            <small class="h6 px-3 align-self-center">
                                狀　　態：
                            </small>

                            <div class="col">
                                <toggle-button name="Status"
                                               v-model="Status"
                                               :sync="true"
                                               :width="100"
                                               :labels="{checked: '正常', unchecked: '停用'}"
                                               :color="{checked: '#25EF02', unchecked: '#E3170D'}">
                                </toggle-button>
                            </div>
                        </div>

                        <div class="row justify-content-end">
                            <div class="col-auto p-3">
                                <button class="btn btn-primary" v-on:click.prevent="SetEditFontHome">
                                    送出
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

@section Scripts {
    <script>

    </script>
    <script>
        requirejs.config({
            baseUrl: "@Url.Content("~/Scripts/build/view/FontHome/Edit")"
        });
        require(["index"]);
    </script>

}
