@-webkit-keyframes highlight {
    0% {
        background-color: none;
    }
    25% {
        background-color: #ffff80;
    }
    100% {
        background-color: none;
    }
}

@-moz-keyframes highlight {
    0% {
        background-color: none;
    }
    25% {
        background-color: #ffff80;
    }
    100% {
        background-color: none;
    }
}

@-ms-keyframes highlight {
    0% {
        background-color: none;
    }
    25% {
        background-color: #ffff80;
    }
    100% {
        background-color: none;
    }
}
