
.sideBar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    min-width: 50px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    // border-right: 1px solid rgba(0, 0, 0, 0.2);
    user-select: none;

    .menuRow {
        /*float: left;*/
        flex: 0 0 $sidebar_width;
        width: $sidebar_width;
        height: 100%;
        overflow-x: hidden;
        border-right: 1px solid rgba(100,100,100,.16);

        &[data-menutype="Main"] {
            flex: 0 0 50px;
            width: 50px;
            padding-top: 30px;
            z-index: 50;
            background-color: $sidebar_bg;
        }

        &[data-menutype="Indent"] {
            display: none;
            animation-duration: .3s;
            background-color: rgba($sidebar_bg, .93);
        }

        &.showRow {
            display: block;
        }

        .description {
            display: none;
        }
    }

    .nav {
        margin-right: -1px;
    }

    .nav-item {
        cursor: pointer;
    }

    .nav-link {
        position: relative;
        color: $sidebar_nav_link_color;
        padding: 15px 25px 15px 16px;



        &:hover {
            color: $primary !important;
        }

        &.active {
            color: $primary;
            border-left: 5px solid $primary;
            padding-left: 16px - 5px;
            background-color: $sidebar_bg;
            box-shadow: 0 0 3px rgba(100,100,100,.16);
            transition: all .3s ease;

            .smenuicon {
                transform: rotate(-90deg);
            }
        }

        .smenuicon {
            position: absolute;
            right: 10px;
            top: calc(50% - 5px);
            font-size: 10px;
            transition: transform .3s ease;
        }
    }

    @media (max-width: map-get($grid-breakpoints, "md")) {
        .nav-link {
            padding: 15px 8px 15px 10px;

            &.active {
                padding-left: 10px - 5px;
            }

            .smenuicon {
                right: 5px;
            }
        }
    }

    .smenu {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0%;
        display: none;
        padding-top: 48px;


        .nav-link {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;

            &.active {
                color: $primary;
            }
        }
    }

    .smenuBG {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: $sidebar_item_open_color;
    }
}
