$sidebar_bg: lighten($primary, 44%);
$sidebar_width: 250px;
$sidebar_title_height: 70px;
$sidebar_title_bg_hover_color: rgba(255, 255, 255, 0.10);
$sidebar_item_open_color: $gray-300;
$sidebar_item_hover_color: $gray-300;
$sidebar_item_link_active_color: $gray-200;
$sidebar_nav_link_color: $body-color;

$modal_fluid_margin: 0.5rem;
