.roadcontainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #f4f6f7, #8bcdf0);
  overflow: hidden;
}
.roadcontainer:before, .roadcontainer:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 50%;
  left: -50%;
  top: calc(50% + 10px);
  background: #7a9b5d;
}
.roadcontainer:after {
  z-index: -1;
  height: calc(50% + 500px);
  top: -250px;
  background: linear-gradient(to top, #dbf0f0, rgba(255, 255, 255, 0)), radial-gradient(circle at center, #fcb3a4, #c2e8ff 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 20px), radial-gradient(circle at center, #b4e8ea, #b4e8ea 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 20px);
  background-size: 100%, 100px 100px, 100px 100px;
  background-position: 50%, 40px 40px, 0px 90px;
  opacity: 0.75;
  transform-style: preserve-3d;
  animation: starwipe 10s linear infinite;
}
.roadcontainer .lt {
  position: absolute;
  z-index: 9;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
}
.roadcontainer .lt:hover ~ .wrap { perspective-origin: 75% 50%;}
.roadcontainer .rt {
  position: absolute;
  z-index: 9;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
}
.roadcontainer .rt:hover ~ .wrap {
  perspective-origin: 25% 50%;
}
.roadcontainer .wrap {
  width: 400px;
  height: 200px;
  perspective: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.4s ease-in-out;
}
.roadcontainer .wrap .cube {
  width: 100%;
  height: 200%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
}
.roadcontainer .wrap .cube .face {
  margin: 0;
  width: 400px;
  height: 100%;
  display: block;
  position: absolute;
}
.roadcontainer .wrap .cube .face:nth-of-type(1) {transform: rotateY(0deg) translateZ(200px);}
.roadcontainer .wrap .cube .face:nth-of-type(2) {transform: rotateX(180deg) translateZ(200px);}
.roadcontainer .wrap .cube .face:nth-of-type(3) {transform: rotateY(90deg) translateZ(200px);}
.roadcontainer .wrap .cube .face.building1 {
  margin-left: -500px;
  transform: rotateY(-90deg) translateZ(25px);
  transform-style: preserve-3d;
  background: #79aa93;
  width: 50px;
  height: 800px;
  bottom: 0px;
  animation: lefttoright 7s ease-in-out infinite;
}
.roadcontainer .wrap .cube .face.building1.outer {
  margin-left: -2000px;
  animation-duration: 10s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(1)  {animation-delay: -1.25s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(2)  {animation-delay: -2.0s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(3)  {animation-delay: -2.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(4)  {animation-delay: -3.5s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(5)  {animation-delay: -4.25s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(6)  {animation-delay: -4.7s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(7)  {animation-delay: -5.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(8)  {animation-delay: -6.5s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(9)  {animation-delay: -7.25s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(10) {animation-delay: -8.0s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(11) {animation-delay: -8.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(12) {animation-delay: -9.5s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(13) {animation-delay: -10.25s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(14) {animation-delay: -10.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(15) {animation-delay: -11.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(16) {animation-delay: -12.5s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(17) {animation-delay: -12.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(18) {animation-delay: -14.0s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(19) {animation-delay: -14.5s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(20) {animation-delay: -15s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(21) {animation-delay: -16.25s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(22) {animation-delay: -16.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(23) {animation-delay: -17.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(24) {animation-delay: -18.5s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(25) {animation-delay: -19.25s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(26) {animation-delay: -19.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(27) {animation-delay: -20.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(28) {animation-delay: -21.5s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(29) {animation-delay: -22.25s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(30) {animation-delay: -23.0s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(31) {animation-delay: -23.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(32) {animation-delay: -24.5s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(33) {animation-delay: -25.25s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(34) {animation-delay: -26.0s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(35) { animation-delay: -26.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(36) {animation-delay: -27.5s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(37) {animation-delay: -28.25s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(38) {animation-delay: -29.0s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(39) {animation-delay: -29.75s;}
.roadcontainer .wrap .cube .face.building1:nth-of-type(40) {animation-delay: -30.5s;}


.roadcontainer .wrap .cube .face.building1:nth-of-type(3n) {
    height: 400px;
}
.roadcontainer .wrap .cube .face.building1:nth-of-type(4n) {
  height: 600px;
  margin-left: -700px;
}
.roadcontainer .wrap .cube .face.building1:nth-of-type(6n) {
    height: 1400px;
}
@keyframes lefttoright {
  0% {
    transform: rotateY(-90deg) translateZ(25px) translateX(-1000%);
    background: #31374e;
  }
  100% {
    transform: rotateY(-90deg) translateZ(25px) translateX(200%);
    background: #70b7c4;
  }
}

.roadcontainer .wrap .cube .face.building1:before {
  content: '';
  position: absolute;
  width: 300px;
  height: 100%;
  background: linear-gradient(to bottom, #748d8c, #54656a);
  top: 0;
  left: 0;
  transform: rotateY(90deg) translateZ(-250px);
  transform-origin: 100% 50%;
}

.roadcontainer .wrap .cube .face.building1.right {
    margin-left: 800px;
}
.roadcontainer .wrap .cube .face.building1.right.outer {
  margin-left: 2000px;
  animation-duration: 10s;
}
.roadcontainer .wrap .cube .face.building1.right:before {
    transform: rotateY(90deg) translateZ(-250px) translateX(100%);
}
.roadcontainer .wrap .cube .face.building1.right:nth-of-type(4n) {
  height: 600px;
  margin-left: 1000px;
}
.roadcontainer .wrap .cube .face.building1.right:nth-of-type(6n) {
    height: 1200px;
}
.roadcontainer .wrap .cube .face:nth-of-type(5) {
    transform: rotateX(90deg) translateZ(200px);
}
.roadcontainer .wrap .cube .face.road {
  height: 200%;
  top: -75%;
  background: repeating-linear-gradient(to bottom, transparent, transparent 5px, #1d1d1d 5px, #1d1d1d 15px), linear-gradient(to right, #1d1d1d, #1d1d1d 48%, #c1e3da 48%, #c1e3da 52%, #1d1d1d 52%);
  transform: rotateX(-90deg) translateZ(200px);
  animation: animatedBackground 30s linear infinite;
}


@keyframes starwipe {
    0% {
        transform: skewX(20deg);
    }

    50% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(20deg);
    }
}
@keyframes animatedBackground {
  from {
    background-position: 0 1000px;
  }
  to {
    background-position: 0 -1000px;
  }
}