
@{
    ViewBag.Title = "權限管理";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        <i class="nav-icon fas fa-unlock-alt"></i>
                        @ViewBag.Title
                    </h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div id="v_app"></div>
</div>

<template id="PermissionManagement">
    <div class="content">
        <div class="container-fluid">
            <div class="card card-default color-palette-box">
                <div class="card-blue">
                    <div class="row m-3">
                        <div class="col">
                            <div class="info-box-content">
                                <h5>
                                    總筆數：
                                    <span class="badge badge-primary">5</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-primary">新增</button>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-auto">
                            <label class="h5">更新日期：</label>
                        </div>
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservation">
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="h5">關鍵字：</label>
                        </div>
                        <div class="col-auto navbar-expand navbar-white navbar-light">
                            <div class="input-group">
                                <input class="form-control form-control-navbar" placeholder="Search">
                                <div class="input-group-append">
                                        <button class="btn btn-navbar">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

@section Scripts {
    <script>
        requirejs.config({
            baseUrl: "@Url.Content("~/Scripts/build/view/Permission/")"
        });
        require(["index"]);
    </script>

}